h1 {
    text-align: center;
}
.main-box-1, .main-box-2, .main-box-3 {
    display: block;
    margin: 0 auto;
}
.main-box-1 {
    width: 303px;
}
.main-box-2 {
    width: 606px;
}
.main-box-3 {
    width: 909px;
}
.box-1_1, .box-2_1, .box-2_2,
.box-3_1, .box-3_2, .box-3_3 {
    width: 260px;
    height: 260px;
    display: inline-block;
    margin: 20px;
    border-radius: 5px;
}
.box-1_1{
    background-color: rgb(48,48,48);
    box-shadow: 15px 15px 5px rgb(12,12,12);
}
.box-2_1{
    background-color:darkcyan;
    box-shadow: 15px 15px 15px rgb(1, 77, 77);
}
.box-2_2{
    background-color: goldenrod;
    box-shadow: 15px 15px 15px rgb(119, 86, 4);
}
.box-3_1{
    background-color: rgb(222, 20, 20);
    box-shadow: 15px 15px 15px rgb(121, 1, 5);
}
.box-3_2{
    background-color: rgb(117,28,225);
    box-shadow: 15px 15px 15px rgb(67, 15, 131);
}
.box-3_3{
    background-color:rgb(69,163,212);
    box-shadow: 15px 15px 15px rgb(38, 97, 129);
}
p {
    color: white;
    font-size: 1.4em;
    text-align: center;
    margin-top: 110px;
}