body {
    margin: 0 2.5em;
}
h1 {
    text-align: center;
}
img {
    display: block;
    margin: 0 auto;
}
.img-catalogo {
    display: inline;
    margin-bottom: -1.5em;
}
p {
    font-size: 1.2em;
    text-align: center;
}
div {
    display: inline-block;
    margin: 25px;
    height: 210px;
    width: 370px;
}