* {
    margin: 0;
    padding: 0;
}
nav {
    background-color: rgb(222,8,0);
    transition: all .5s;
}
ul {
    list-style: none;
    text-align: right;
}
li {
    display: inline-block;
    padding: 20px;
    position: relative;
    transition: all .5s;
}
a {
    display: block;
    text-decoration: none;
    color:white;
}
/* .sub-items {
    display: none;
    position: absolute;
    top: 200%;
} */
li:hover .children {
    display: block;
    position: absolute;
    width: 100px;
}
.children li {
    display: block;
    background-color: rgb(222,1,8);
    color: white;
    text-align: center;
    overflow: hidden;
    border-bottom: 1px solid rgba(255,255,255,.5);
}
li .children {
    display: none;
    position: absolute;
    top: 101%;
}

